body {
   background-color: #FCFDFE;
}

.main{
  margin-top: 150px!important;

}
.w{
  height:  100px;
}
.services-wrapper{
  display: flex;
  justify-content:space-between;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
}
.service{
flex: 0 0 auto;
width: 30%;
}
.service-card{
  border: 0.8px solid #c8c8c8;
  border-radius: 10px;
  background-color: white;
  /* box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075); */
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05)!important;
}
.service-card-header{
  height: 90px;
  border-bottom: 0.8px solid ;
  border-radius: 10px 10px 0 0 ;
  padding: 20px;
}
.service-card-body{
  flex: 1 1 auto;
  padding: 20px;
  height: 170px;
}

.about-bg{
  /* background-color: #c8c8c8;
  color: white; */
  text-align: center;
  /* border-radius: 10px 10px 100px 100px ; */
  height: 50px;
  width: 100%;
}
.about-bg h2{
  line-height: 2;
}
.border-bottom{
  border-bottom: 1px solid #f1f4f8!important;
}
.profile-icon{
  border-radius: 4px;
}
.form{
  width: 80%;
}
.form-container {
  border: 1px solid #c8c8c8;
  padding: 20px;
  border-radius: 10px;
  /* background-color: rgb(242, 242, 242); */
  max-width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  /* box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075); */
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05)!important;
}
.form-container button{
  margin-top: 10px;
   width: 10rem;
}
textarea{
    height: 8rem;
}
.about{
 position: relative;
  z-index: 2;
}
.shape{
  position: relative;
  width: 100%;
  /* z-index: 1; */
  /* height: 500px; */
}

.bg-shape{
  position: absolute;
  top: -200px;
  overflow: hidden;
 
      bottom: 0;
    left: 0;
    right: 0;
}

.bg-shape2{
  position: absolute;
  top: -600px;
  /* overflow: hidden; */
 
      bottom: 0;
    left: 0;
    right: 0;
}
.bg-shape3{
  position: absolute;
  top: -300px;
  /* overflow: hidden; */
 
      bottom: 0;
    left: 0;
    right: 0;
}
#contact{
  background-color: #f1f4f8;
   position: relative;
  z-index: 0;
}
#projects{
   position: relative;
  z-index: 2;
  background-color: #1B2A4E;
 
}
#projects h2{
  color: white;
  padding-bottom: 20px;
}

.icon-shape{
  width: 100%;
}


.card{
   border: 1px solid #c8c8c8;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05)!important;
}
.devider{
  height: 100px;

}
footer{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
   position: relative;
  z-index: 2;
}
.social-wrapper{
  display: flex;

align-items: center;
  
}
.list-inline{
  margin: 0 auto;
  width: 300px;
}

.list-social-icon{

  width: 30px;
  height: 30px;
}


.section.animate {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section {
  opacity: 0;
  transform: translateX(-50px);
}



 @media (max-width: 479px) {
    .services-wrapper{
    display: block;
  }
  .service{
  width: 100%;
  margin-bottom: 10px;
  }
   .card-deck {
  display: block!important;
  margin: 0 auto;
  }
  .card {
    margin-bottom: 10px!important;
     margin: 10px auto!important;
     width: 100%!important;
  }
  .card-project{
    width: 100%;
  }
  .form{
  width: 100%;
    }
  .bg-shape2{
    top: -200px;
   }
     .bg-shape3{
    top: -100px;
   }

 }
 @media (max-width: 770px) {
   .service{
  width: 100%;
  margin-bottom: 10px;
  }
  .card{
 margin-bottom: 10px!important;
     margin: 10px auto!important;
     width: 100%;
  }
  .card-project{
    width: 45%;
  }
  .about{
   width: 90%;
   margin: 0 auto;
  }
 }
 
  @media (min-width: 479px) {
   .bg-shape{
    top: -250px;
   }
      .bg-shape2{
    top: -280px;
   }
       .bg-shape3{
    top: -160px;
   }
 }
  @media (min-width: 660px) {
   .bg-shape{
    top: -390px;
   }
      .bg-shape2{
    top: -350px;
   }
 }
  @media (min-width: 820px) {
   .bg-shape{
    top: -340px;
   }
      .bg-shape2{
    top: -400px;
   }
 }
  @media (min-width: 940px) {
   .bg-shape{
    top: -450px;
   }
    .bg-shape2{
    top: -450px;
   }
    .bg-shape3{
    top: -250px;
   }
 }
 @media (min-width: 1060px) {
  
    .bg-shape2{
    top: -500px;
   }
 }
  @media (min-width: 1200px) {
   .bg-shape{
    top: -550px;
   }
     .bg-shape2{
    top: -550px;
   }
 }
  @media (min-width: 1300px) {
   
     .bg-shape2{
    top: -600px;
   }
 }

 /* Styles for logo animation  */
.img-logo{
    display: block;
    margin: 0 auto;
    position: relative;
     overflow: hidden;
  
   animation: animate 1s ease 0s infinite alternate;
}
@keyframes animate {
  
  from { 
   
    margin-left: 0px;
     transform: rotate(8deg);
    
  }
  25%{
    
    margin-left: 100px!important;
   transform: rotate(3deg);
  }
  50%  {
    /* ignored */
   
    margin-left: 120px!important;
     transform: rotate(-6deg);
  }
  
  to   { 
   
    margin-left: 150px;
     transform: rotate(-15deg);
    
  }
  
}